/* Font: Nunito
font-family: 'Nunito', sans-serif;
 */

header {
    border-bottom: 1px solid black;
}

.header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

.action-buttons {
    float: right;
    padding: 10px;
}

.blog-article {
    margin-bottom: 15px;
}

.article__title {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.article__date {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #ccc;
    margin-bottom: 0.7em;
    display: block;
}

.signup-form-item {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.form-error {
    color: red;
    font-weight: 700;
}