/*
Global Stuff
 */
.form-error {
    color: red;
    font-weight: 700;
}

.error-message {
    color: red;
}

/*
Header
 */
header {
    border-bottom: 1px solid black;
}

.header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

/*
Navigation Menu
 */
nav {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-item {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.nav-item__link {
    color: black;
}

.nav-item__link:visited {
    color: black;
}

.nav-item__link:hover {
    text-decoration: underline;
}

.nav-item__link:active {
    text-decoration: underline;
}


/*
Sign Up Form
 */
.form-item {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

/**
New Post Form
 */
textarea.new-post__content-text {
    margin-bottom: 10px;
}

/**
Content
 */
.content-placeholder {
    margin-top: 25vh;
}

.content-placeholder__paragraph {
    font-size: 24px;
}

.blog-post {
    margin-bottom: 15px;
}

.blog-post-header__title {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.blog-post-header__info {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0.7em;
    padding-bottom: 0.3em;
    display: block;
    border-bottom: 1px solid #ccc;
}

.blog-post-footer {
    margin: 7px 0;
}

.blog-post-control {
    margin-right: 5px;
}

.blog-post-comments {
    margin-top: 7px;
}

.blog-post-comments-header {
    background-color: #cccccc;
    padding: 3px 5px;
}

.blog-post-comments__heading {
    margin: 5px;
    padding: 3px;
}

.blog-post-comments__add-comment {
    margin: 10% 5px;
}

.blog-post-comment {
    background-color: #BDBDBD;
    margin-bottom: 2px;
}