<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand:400,700|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>{{ page_title }} - Expound</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="header__title">Expound!</h1>
            </div>
        </div>
    </header>

    {% block navigation %}
    <nav>
        {% import 'nav_util.html' as nav_util %}
        <div class="row">
            {% if current_user %}
                {% set btn_count = 4 %}
            {% else %}
                {% set btn_count = 3 %}
            {% endif %}

            {{ nav_util.nav_button('/', 'Home', btn_count) }}
            {% if current_user %}
                {% set my_posts_link = '/users/' + current_user + '/posts' %}
                {{ nav_util.nav_button(my_posts_link, 'My Posts', btn_count) }}
                {{ nav_util.nav_button('/posts/new', 'New Post', btn_count) }}
                {{ nav_util.nav_button('/logout', 'Sign Out', btn_count) }}
            {% else %}
                {{ nav_util.nav_button('/signin', 'Sign In', btn_count) }}
                {{ nav_util.nav_button('/signup', 'Sign Up', btn_count) }}
            {% endif %}
        </div>
    </nav>
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
</body>
</html>